<!DOCTYPE html>
<html>
    <head>
        <title>Hi</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">	
        <link rel="stylesheet" type="text/css" href="/app.css">
    </head>
	
	<body>

    <ul class="nav">
    	<li class="nav-item">
    		<a class="nav-link" href="/">Home</a>
    	</li>
    	<li class="nav-item">
    		<a class="nav-link" href="/runs">Runs</a>
    	</li>
    </ul>

