<% include partials/header %>

<div class="content">

<h1>Welcome to Jeff's run-tracking website!</h1>
<p>Jeff uses this website to track his runs. The back-end was built in Express - a NodeJS framework. It has a form for adding new runs; this form submits data to a Postgres database hosted on Heroku. The database has two tables: Trails and Runs. Jeff used 'sequelize' to create Object Relational Mapping between the two tables and write queries. It uses Bootstrap as its style sheet.</p>

</div>

<% include partials/footer %>
